@keyframes moveText
  0%
    transform: translateX(100%)
  100%
    transform: translateX(-100%)

.home__banner
  margin-bottom: 4rem

  +size(phone)
    margin-bottom: 2rem


.home__banner__jp
  background-color: #000
  text-align: center
  padding: 1em
  overflow: hidden
  margin-bottom: 3rem
  
  p
    font-weight: bold
    z-index: -1
    white-space: nowrap
    font-size: 3rem
    color: white
    animation: moveText 3s linear infinite

  +size(phone)
    p
      font-size: 1.5rem


.home__banner__about
  text-align: center
