.home__blurb 
  margin-bottom: 4rem

.home__blurb__copy
  font-size: 1.8em
  font-weight: bold
  line-height: 1.4
  max-width: 80%
  margin: 0 auto

  +size(phone)
    max-width: 85%
    font-size: 1.4em
    line-height: 1.6
