.home__check-profile
  background-color: #B5B2F6
  color: white
  padding: 3em
  border-radius: 8px
  text-align: center
  border: 4px solid black
  color: #212529
  margin-bottom: 4rem

  +size(phone)
    margin-bottom: 2rem
    padding: 2em 1.5em


.home__check-profile__container h3
  font-size: 2.5rem
  margin-bottom: 2rem

  span
    color: darken(#B5B2F6, 45%)
    text-decoration: underline

  +size(phone)
    font-size: 1.5rem
    margin-bottom: 1rem

.home__check-profile__container p
  font-size: 1em
  font-weight: bold
  font-style: italic

  +size(phone)
    font-size: 14px


.home__check-profile__container form
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 2rem

  input
    width: 70%
    text-align: center
    font-weight: bold
    padding: .75rem 0
    font-size: 1.4rem
    border: 3px solid black
    border-radius: 5px
    outline: 0

    &::placeholder
      color: darken(#B5B2F6, 2%)

  +size(phone)
    margin-bottom: 1.5rem
    input
      width: 100%
      padding: .5rem 0
      font-size: 1.1rem
      border-width: 2px

      &::placeholder
        color: darken(#B5B2F6, 2%)
        font-size: 1em


.check__profile__message
  p
    font-weight: bold
    font-size: 1.2rem
    display: flex
    align-items: center
    justify-content: center

    +size(phone)
      flex-direction: column
      font-size: 1rem


  span
    display: flex
    align-items: center
    justify-content: center
    margin-right: 1.25rem

    svg
      transform: translateY(-3px)
      margin-right: .5rem

    +size(phone)
      margin-bottom: 1rem

      svg
        width: 22px
        height: 22px


.check__profile__button
  $bg: #66f2a4
  border: 0 
  outline: 0
  font-weight: bold
  background: $bg
  padding: .5rem .75rem
  border: 2px solid black
  border-radius: .25rem
  font-size: 1.1rem
  cursor: pointer
  box-shadow: 0px 3px 
  transform: translateY(-2px)
  transition: all .2s ease-in-out

  &:hover
    transform: scale(0.98)
    background: darken($bg, 10%)

  
