.home__coming-soon-banner
  background: repeating-linear-gradient(130deg, #fff3bf, #fff3bf 10px, #FBEFAE 10px, #FBEFAE 20px)
  color: black
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 1em
  border-bottom: 2px solid black


.coming-soon__container
  text-align: center  


.coming-soon__container p 
  font-size: 1.5rem
  font-weight: bold

  +size(phone)
    font-size: 1.2rem
