.dont-need__list
  list-style: none
  padding: 4em 0
  margin-bottom: 4rem

  +size(phone)
    padding: 0
    margin-top: -2rem

  +size(ipad)
    padding: 0
    margin-top: -2rem

.dont-need__list__item
  font-weight: bold
  font-size: 3rem
  margin-bottom: 1rem
  text-decoration: line-through 
  color: #1f2cd6

  +size(phone)
    font-size: 1.4rem
    margin-bottom: .5rem

  +size(ipad)
    font-size: 2rem
    

