.home__features
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  margin-bottom: 4rem

  +size(phone)
    flex-direction: column

.feature
  flex-basis: 49%
  padding: 1.5rem
  border: 2px solid black
  border-radius: 5px
  margin-bottom: 3rem

.feature__title
  display: block
  font-size: 1.5rem
  margin-bottom: 1rem

  +size(ipad)
    font-size: 1.3rem

.feature__description
  display: block
  line-height: 1.6
  font-weight: bold
  font-size: 1.1rem

  +size(ipad)
    font-size: 1rem


.feature--one
  background-color: lighten(#B2F6E8, 7%)


.feature--two
  background-color: lighten(#F6A7CF, 7%)


.feature--three
  background-color: #FFEB95

.feature--four
  background: lighten(#B5B2F6, 7%)

.feature--three,
.feature--four
  margin-bottom: 0

  +size(phone)
    margin-bottom: 2rem
