.home__footer
  border-top: 2px solid #e7e7e7
  padding: 4em 0

  +size(phone)
    padding: 2em 0 0
    margin-bottom: -2rem

  +size(ipad)
    padding: 2em 0 0
    margin-bottom: -2rem

.footer__about
  text-align: center
  font-weight: bold
  font-size: 2rem

  +size(phone)
    font-size: 1.2rem
    line-height: 1.8

  +size(ipad)
    font-size: 1.6rem
    line-height: 1.8

.footer__about p 
  margin-bottom: 3rem

  &:last-child
    margin-bottom: 0

  +size(phone)
    margin-bottom: 1rem

  +size(ipad)
    margin-bottom: 1rem

.footer__about a
  $color: #0070f3
  color: $color

  &:visited
    color: $color

.footer__links
  margin-top: 5rem

  +size(phone)
    margin-top: 2.5rem

  +size(ipad)
    margin-top: 3rem

.footer__links__list
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

  +size(phone)
    max-width: 100%


.footer__links__link
  flex-basis: 17%
  text-align: center
  margin-bottom: 1rem

  +size(phone)
    flex-basis: 31%
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0
      display: none

  +size(ipad)
    flex-basis: 18%
    margin-bottom: 1rem

.footer__links__link a
  display: inline-block
  width: 100%
  margin-bottom: .5rem
  padding: 1em
  font-size: 1.3rem
  font-weight: bold
  border: 3px solid black
  border-radius: 4px
  text-decoration: none
  background-color: #ffffff
  color: black
  transition: all .2s ease

  &:hover
    background: #f2f2f2
    box-shadow: 3px 3px 0 0 black
  

  +size(phone)
    padding: .75rem
    font-size: 1.1rem



