.home__how-it-works
  padding-top: 4rem

  +size(phone)
    padding-top: 2rem

  +size(ipad)
    padding-top: 3rem
    padding-left: 1rem


.home__how-it-works__list
  list-style: none

  
.how-it-works__item
  font-weight: bold
  font-size: 2.5rem
  margin-bottom: 5rem

  &:nth-child(2)
    margin-left: 12rem

  &:nth-child(3)
    margin-left: 21rem

  &:nth-child(4)
    margin-left: 37rem

  +size(phone)
    font-size: 1.7rem
    margin-bottom: 3rem

    &:nth-child(2)
      margin-left: 3rem

    &:nth-child(3)
      margin-left: 5rem

    &:nth-child(4)
      margin-left: 13rem


  +size(ipad)
    font-size: 2.2rem
    margin-bottom: 3rem

    &:nth-child(2)
      margin-left: 8rem

    &:nth-child(3)
      margin-left: 17rem

    &:nth-child(4)
      margin-left: 31rem
