.home__live-demo
  margin: 4rem 0
  text-align: center
  font-weight: bold
  font-size: 2rem

  +size(phone)
    font-size: 1.4rem
    line-height: 1.6
    margin: 3rem 0

  +size(ipad)
    font-size: 1.6rem
    margin-bottom: 2rem

.home__live-demo span
  display: inline-block
  background: #FF0000
  color: white
  padding: .5rem .75rem
  border-radius: .25rem

  +size(phone)
    padding: .2rem .75em


