@import '../layout/_mixins.sass'
@import './_hero.sass'
@import './_blurb.sass'
@import './_gif.sass'
@import './_checkprofile.sass'
@import './_livedemo.sass'
@import './_howitworks.sass'
@import './_features.sass'
@import './_dontneed.sass'
@import './_banner.sass'
@import './_footer.sass'
@import './_comingsoon.sass'

#home
  +size(phone)
    padding: 0 1em

  +size(ipad)
    padding: 0 2rem

.home__container
  max-width: 50em
  margin: 0 auto
