.ngnr__faq
  margin-top: -5rem
  margin-bottom: -5rem
  padding: 7em 0
  
  +size(phone)
    margin-top: -6rem

.ngnr__faq .container
  max-width: 45em
  margin: 0 auto

  +size(phone)
    padding: 0 1.5rem

.ngnr__faq__footer 
  margin-top: 7rem

  a
    color: black

  svg
    padding-top: 2rem
    border-top: 3px solid
    display: block
    max-width: 25em
    margin: 0 auto

  +size(phone)
    margin-top: 4rem
    margin-bottom: -3rem

    svg
      max-width: 250px

.faq__header
  margin-bottom: 5rem

.faq__title
  font-size: 3.4rem
  margin-bottom: 1.45rem

  +size(phone)
    font-size: 2.4rem
    line-height: 1.4

.faq__subtitle
  font-size: 1.65rem

  +size(phone)
    font-size: 1.25rem
    line-height: 1.5

.faq__question
  margin-bottom: 5rem

  +size(phone)
    margin-bottom: 3rem

.faq__question__title
  font-size: 1.9rem
  margin-bottom: 2rem

  +size(phone)
    font-size: 1.5rem
    line-height: 1.5
    margin-bottom: 1.5rem

.faq__question__answer
  font-size: 1.3rem
  line-height: 1.4

  +size(phone)
    font-size: 1.1rem
    line-height: 1.6

.faq__gif
  margin-top: 3rem
  img
    width: 100%
    border: 3px solid black

