.ngnr__protected__loading
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  margin-top: -5rem
  margin-bottom: -5rem

  +size(phone)
    padding: 0 2rem
    margin-top: -6rem

.ngnr__protected__loading__container
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

.ngnr__protected__loading .logo-wrapper
  width: 350px

  +size(phone)
    width: 250px

.ngnr__protected__loading .loading-spinner
  margin-top: 3rem
  display: flex
  justify-content: center

  svg
    width: 50px
    height: 50px
    animation: spin 1s linear infinite

    +size(phone)
      width: 40px
      height: 40px
    
