@import './_login.sass'
@import './_register.sass'
@import './_loading-spinner.sass'

.auth-page
  display: flex
  align-items: center
  justify-content: center
  margin-top: -2rem

  +size(phone)
    margin-top: -6rem
    margin-bottom: -6rem
    height: 100vh
    padding: 0 2rem

  +size(ipad)
    margin-top: -5rem
    margin-bottom: -5rem
    height: 100vh


.auth-page__container
  max-width: 600px

  +size(phone)
    width: 100%


.auth-page__logo
  width: 300px
  margin: 0 auto

  +size(phone)
    width: 250px


.auth-page__header
  text-align: center
  margin: 2rem 0
  max-width: 400px

.auth-page__header p 
  color: gray
  margin-top: 2rem
  font-size: 1.1rem
  line-height: 1.5
