#not-found
  padding: 0
  margin-top: -5rem
  margin-bottom: -5rem
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

  +size(phone)
    padding: 0 2em

  +size(ipad)
    padding: 0 4em

.not-found__container
  max-width: 60em
  margin: 0 auto

  +size(ipad)
    max-width: 25em


.not-found__content
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row-reverse

  +size(phone)
    flex-direction: column-reverse

  +size(ipad)
    flex-direction: column-reverse

.not-found__img,
.not-found__text
  flex-basis: 48%


.not-found__img 

  img
    width: 100%
    border: 3px solid black


.not-found__text
  text-align: center
  align-self: stretch
  background-color: #ffc900
  border: 2px solid black
  border-radius: .25rem
  padding: 1rem .5rem
  display: flex
  flex-direction: column
  justify-content: center

  +size(phone)
    margin-bottom: 2rem
    padding: 1.5rem .5rem

  +size(ipad)
    margin-bottom: 2rem
    padding: 1.5rem .5rem


.not-found__title
  font-size: 2.2rem
  margin-bottom: 2rem

  +size(phone)
    font-size: 1.7rem
    margin-bottom: 1rem

.not-found__subtitle
  font-size: 1.2rem
  font-weight: bold 
  margin-bottom: 1.25rem
  max-width: 75%
  line-height: 1.5
  margin: 0 auto
  margin-bottom: 2rem

  +size(phone)
    max-width: 80%
    font-size: 1.1rem
    margin-bottom: 1rem
  

.not-found__link
  color: black
  font-weight: bold
  font-size: 1.1rem
  background-color: white
  display: inline-block
  max-width: 120px
  margin: 0 auto
  padding: .75rem
  text-decoration: none
  border: 2px solid black
  box-shadow: 3px 3px 0px 0px black
  transition: all .2s ease

  &:hover
    box-shadow: 0 0 0 0 black


.not-found__footer
  margin-top: 3rem
  padding: 2rem 0

  +size(phone)
    padding: 0
  

.not-found__logo-container
  max-width: 20em
  margin: 0 auto

  +size(phone)
    max-width: 15em
  
