.ngnr-legal
  margin-top: -5rem
  margin-bottom: -5rem
  background: black
  color: white
  padding: 15em 0 6em

  +size(phone)
    margin-top: -6rem

.ngnr-legal .container
  max-width: 45em
  margin: 0 auto

  +size(phone)
    padding: 0 1rem

.ngnr-legal__footer

  max-width: 25rem
  display: block
  margin: 0 auto
  margin-top: 7rem

  +size(phone)
    margin-top: 4rem
    display: flex
    align-items: center
    justify-content: center

    svg
      max-width: 240px
      margin: 0 auto
    

.legal-page__title
  text-align: center
  font-size: 5rem
  margin-bottom: 7rem

  +size(phone)
    font-size: 3rem
    margin-bottom: 5rem

.legal-page__subtitle
  font-size: 3.5rem
  text-decoration: underline
  margin-bottom: 3rem
  line-height: 1.4

  +size(phone)
    font-size: 2.5rem

.legal-page__mini-title
  font-size: 2.5rem
  text-decoration: underline
  margin-bottom: 3rem
  line-height: 1.4

  +size(phone)
    font-size: 2rem
    margin-bottom: 2rem


.legal-page__list
  margin-bottom: 5rem

  +size(phone)
    margin-bottom: 3rem

.legal-page__list__item
  font-size: 2rem
  font-weight: bold
  margin-bottom: 2rem
  line-height: 1.4

  &:before
    content: "- "

  +size(phone)
    font-size: 1.5rem
    margin-bottom: 1.5rem

.legal-page__text
  font-size: 2rem
  font-weight: bold
  margin-bottom: 5rem
  line-height: 1.3

  +size(phone)
    font-size: 1.5rem

.legal-page__text a
  color: hotpink
