@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes spin
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)


@keyframes slideInDown
  0%
    transform: translate3d(0, -100%, 0)
    visibility: visible
  100%
    transform: translate3d(0, 0, 0)
