.form__field
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

.form__field-group
  border: 0
  outline: 0

.field__label--error
  color: #e62929

.field__label

  &.validation-input-error
    color: #e62929
    input
      border-color: #e62929
      color: #e62929

.validation-error
  color: #e62929
  font-weight: bold

.field__label__text
  font-weight: bold
  font-size: 15px
  padding-bottom: 8px
  display: flex
  align-items: center
  justify-content: space-between


.field__input
  width: 100%
  padding: 1rem
  border-radius: .25rem
  outline: 0
  font-size: 1rem
  border: 2px solid #121212
  background: #f2f2f2
  font-weight: bold
  transition: background .2s ease

  &:focus
    background: #fff

  &::placeholder
    font-style: italic
    font-weight: normal

  &.error
    border-color: #e62929
    color: #e62929


.field__input__data-binding

  margin-top: 1rem
  font-size: 14px
  color: #6e6e6e

  strong
    color: black

    &.danger
      color: #e62929


.form__field__message
  color: #6e6e6e
  font-size: 13px
  line-height: 1.5
  padding: 4px
  padding-top: 6px
  overflow-wrap: anywhere
  word-break: break-word


.auth__form__wrapper
  width: 400px
  padding-top: 1rem
  margin: 0 auto

  +size(phone)
    width: 100%


.auth__form__wrapper .ngnr__notification

  margin-top: 0
  margin-bottom: 2rem


.auth__form__submit
  background: #181818
  color: white
  padding: 1rem .5rem
  font-size: 1.1rem
  text-align: center
  width: 100%
  border: 0
  outline: 0
  font-weight: bold
  line-height: 1.1rem
  border-radius: .25rem
  cursor: pointer
  border: 2px solid black
  box-shadow: 0 0 0 0 black
  transition: all .25s ease

  &:hover,
  &.submitting
    background: #bc9cff
    color: black
    border-color: black
    box-shadow: 3px 3px 0 0 black


.auth__form__submit__text
  i
    margin-left: .5rem

    svg
      animation: spin 1s linear infinite


.auth__form__footer
  margin-top: 2rem
  text-align: center
  color: #616161


.auth__form__cta
  font-weight: bold
  margin-bottom: 1rem

  a
    color: #0070f3
    &:visited
      color: #0070f3

  &:last-child
    margin-bottom: 0


.auth__form__resend-link
  margin-top: 2rem

  p
    margin-bottom: 1rem
    font-weight: bold
    

.auth__form__link
  color: #0070f3
  text-decoration: underline
  cursor: pointer

  &.visited
    color: #0070f3


.auth__form__tnc
  margin-top: 2rem
  font-size: 14px
  line-height: 1.4

  a
    color: inherit
    text-decoration: none


.field__input__wrapper
  position: relative

  input
    padding-left: calc(1rem + 10%)

    +size(phone)
      padding-left: calc(.5rem + 20%)

.field__input__icon
  position: absolute
  top: 0
  left: 0
  width: 10%
  height: 100%
  background: white
  display: flex
  align-items: center
  justify-content: center
  border-top-left-radius: .25em
  border-bottom-left-radius: .25em
  border: 2px solid black

  svg 
    width: 25px
    height: 25px

  +size(phone)
    width: 20%

.form__radio__custom
  appearance: none
  position: absolute
  width: 100%
  height: 100%
  margin-bottom: 3rem

  &:after
    content: ""
    display: block
    width: 100%
    height: 100%
    background: transparent
    min-height: 100px
    cursor: pointer

  &:checked + .form__radio__content
    background: black
    color: white
    font-weight: bold

.form__radio__content

  padding: 1rem
  border: 2px solid black
  border-radius: 5px
  transition: all .2s ease-in-out
  h3
    margin-bottom: .5rem

  p
    line-height: 1.6

.form__subtitle
  margin-bottom: 2rem
  margin-top: 2rem
