.changelog__change
  margin-bottom: 5rem

  +size(phone)
    margin-bottom: 3rem
  

.changelog__metadata
  margin-bottom: 2rem

  +size(phone)
    display: flex
    align-items: center
    margin-bottom: 1rem


.changelog__metadata span
  color: black
  margin-right: 1rem
  padding: .5rem .75rem
  font-weight: bold
  font-size: 14px
  border-radius: .25rem
  border: 2px solid black
  display: inline-flex
  align-items: center

  svg 
    transform: translateY(-1px)
    margin-right: .25rem


  &.changelog__date
    background: #b8f6db

  &.changelog__type
    background: #ff9ecf
    
  &.changelog__version
    background: #deb0fb
  

  +size(phone)
    margin-right: 0
    font-size: 12px
    padding: .25rem .5rem
    margin-right: .5rem

    svg
      margin-right: .5rem

.changelog__title
  font-size: 1.9rem
  margin-bottom: 1rem

  +size(phone)
    font-size: 1.5rem


.changelog__description
  font-size: 1.1rem
  line-height: 1.5
  color: gray
  margin-bottom: 2rem

  +size(phone)
    font-size: 1rem


.changelog__item
  margin-bottom: 1rem
  display: flex
  align-items: center

  +size(phone)
    line-height: 1.5

.changelog__item__star
  transform: translateY(3px)

  +size(phone)
    display: none

.changelog__item__content
  margin-left: .4rem

  +size(phone)
    margin-left: 0
