@import './_change.sass'


.ngnr__changelog__container
  max-width: 40em
  margin: 0 auto

  +size(phone)
    width: 90%


.ngnr__changelog__header
  margin-bottom: 3rem

  +size(phone)
    margin-bottom: 2rem


.ngnr__changelog__header h2
  font-size: 5rem
  margin-bottom: 1rem

  +size(phone)
    font-size: 3rem


.ngnr__changelog__header p
  font-size: 1.4rem

  +size(phone)
    font-size: 1.2rem
    line-height: 1.5


.ngnr__changelog__image 
  margin-bottom: 6rem

  +size(phone)
    margin-bottom: 3rem


.ngnr__changelog__image  img
  width: 100%
  border: 3px solid black

