.ngnr__error
  display: flex
  align-items: center
  justify-content: center
  margin-top: -5rem
  height: 100vh

.ngnr__error__title
  font-size: 3rem
  text-align: center
  margin-bottom: 2rem

  +size(phone)
    font-size: 1.75rem


.ngnr__error__copy
  margin-bottom: 1rem
  line-height: 1.6
  font-size: 1.2rem
  text-align: center

  +size(phone)
    font-size: 1rem

    &.delete-on-phone
      display: none

  &:last-child
    margin-bottom: 0

.ngnr__error__container
  max-width: 550px

.ngnr__error__gif
  margin: 2rem auto 0
  max-width: 80%

.ngnr__error__gif img
  width: 100%
  border: 3px solid black

.ngnr__error .profile__footer
  border: 0
  display: none

  +size(phone)
    padding-top: 2em

.ngnr__error .footer__container
  max-width: 12rem
