.avatar-form
  margin-bottom: 3rem
  max-width: 100%

  +size(phone)
    display: none

  +size(ipad)
    display: none

.avatar-form__container
  display: flex
  align-items: center
  justify-content: space-between

.avatar-form__group
  display: flex
  flex-direction: column

.avatar-form__title
  font-size: 1.7rem
  display: block
  font-weight: bold
  margin-bottom: 2rem

.avatar-form__pic
  width: 130px
  height: 130px
  background-position: center center
  background-size: cover
  border-radius: 100%
  border: 2px solid black

.avatar-form__tooltip
  flex-basis: 38%
  background: #d1fff3
  border: 2px solid black
  border-radius: .25rem
  padding: 1rem 1.5rem
  margin-top: 2rem

  p
    line-height: 1.9
    font-size: 14px
  

.avatar-form__submit
  margin-top: 2rem
  align-self: flex-start
  outline: 0
  background: #d2c7ff
  padding: 1.25rem 
  font-size: 1rem
  font-weight: bold
  border: 2px solid black
  border-radius: .25rem
  cursor: pointer
  transition: all .2s ease
  display: flex
  align-items: center


  svg
    margin-right: .35rem
    transform: translateY(-1px)
    transition: all .2s ease

  &:hover
    box-shadow: 3px 3px 0 0 black
  
    svg
      transform: translateY(-3px)

    &:disabled
      box-shadow: none

      svg
        transform: translateY(-1px)

  &:disabled
    background: #f2f2f2
    cursor: not-allowed
    pointer-events: all !important

  &.uploading
    svg
      animation: spin 1s linear infinite

