.edit-profile__form
  display: none
  position: relative

  &.visible
    display: block


.profile__form__header
  display: flex
  justify-content: space-between
  margin-bottom: 4rem

  +size(phone)
    margin-bottom: 2rem


.profile__form__title
  font-size: 1.7rem
  margin-bottom: 1rem

  +size(phone)
    font-size: 1.4rem


.profile__form__subtitle
  color: #939393

  +size(phone)
    font-size: 14px
    font-weight: bold
    line-height: 1.6


.profile__form__submit
  width: 170px 
  border: 2px solid black
  font-weight: bold
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.1rem
  border-radius: .25rem
  background: #d2c7ff
  cursor: pointer
  transition: all .25s ease
  outline: none

  &:hover
    box-shadow: 3px 3px 0 0 black

  svg
    margin-right: .5rem
    transform: translateY(-1px)

  &.loading

    box-shadow: 3px 3px 0 0 black

    svg 
      animation: spin 1s linear infinite


  +size(phone)
    position: absolute
    bottom: calc(-6rem)
    width: 100%
    height: 60px

.profile__form__checkboxes

  +size(desktop)
    display: flex
    justify-content: space-between
  
  .field__label.checkbox
    display: flex
    align-items: center

    +size(phone)
      justify-content: space-between
  
  .field__label__text.checkbox
    display: inline
    padding-bottom: 0
    font-size: 1.1rem

  input[type="checkbox"]
    margin-left: 1.5em
    cursor: pointer

.social-form,
.contact-form,
.project__modal__form

  fieldset
    display: flex
    margin-bottom: 2rem
    justify-content: space-between

    .form__field
      flex-basis: 48%

    +size(phone)
      flex-direction: column

    &:last-child
      margin-bottom: 0


.profile__projects__empty-message
  text-align: center
  padding: 4em
  border: 2px solid black
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background: #f6f6f6
  border-radius: .25rem

  +size(phone)
    padding: 3em 1em
    flex-direction: column

  +size(ipad)
    flex-direction: column
    padding: 3em

  
.profile__empty-message__title
  font-size: 2rem
  margin-bottom: 2rem 

  +size(phone)
    font-size: 1.4rem
    line-height: 1.6
    margin-bottom: 1rem

.profile__empty-message__text
  font-size: 1.2rem
  line-height: 1.5
  max-width: 70%
  margin: 0 auto
  margin-bottom: 2rem

  +size(phone)
    font-size: 1rem
    line-height: 1.7
    max-width: 98%


.profile__empty-message__button
  border: 2px solid black
  outline: 0
  font-weight: bold
  background: white
  color: black
  padding: .75rem 1rem
  border-radius: .25rem
  font-size: 1.1rem
  display: inline-flex
  align-items: center
  justify-content: center
  cursor: pointer
  box-shadow: 3px 3px 0px 0px black
  transition: all .2s ease

  svg
    margin-right: .5rem
    transform: translateY(-1px)

  &:hover
    background: black
    color: white
    box-shadow: none
