.project__modal
  background: white
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  padding: 4em 0
  animation: fade-in .15s ease-out

  +size(phone)
    padding: 2em
    overflow-y: scroll


.project__modal__container
  max-width: 35em
  margin: 0 auto


.project__modal__back-btn
  position: absolute
  top: 4em
  left: 8em
  width: 50px
  height: 50px
  border-radius: 50%
  background: #f2f2f2
  outline: 0
  cursor: pointer
  border: 2px solid black
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 3px 3px 0 0 black
  transition: all .2s ease

  svg
    transition: all .2s ease

  &:hover
    box-shadow: 0 0 black

    svg
      transform: translateX(-1px)

  
  +size(phone)
    margin-bottom: 2rem
    position: initial

  +size(ipad)
    position: initial
    margin-bottom: 4rem

  
.project__modal__title 
  font-size: 2rem
  margin-bottom: 2rem

  +size(phone)
    line-height: 1.5

.project__modal__subtitle
  font-size: 1rem
  border: 2px solid black
  padding: 1rem 2rem
  background: #bcbdff7d
  font-weight: bold
  line-height: 1.7
  border-radius: .25rem

  +size(phone)
    padding: 1rem 1.2rem

.project__modal__form
  margin-top: 3rem

  .form__field-group
    margin-bottom: 0

  +size(phone)
    margin-top: 2rem

    .form__field
      margin-bottom: 1rem

.project__modal__btn
  border: 0
  outline: none
  flex-basis: 47%
  padding: 1.25rem
  border: 2px solid black
  border-radius: .25rem
  font-weight: bold
  font-size: 1.1rem
  display: flex
  cursor: pointer
  align-items: center
  justify-content: center
  background: white
  transition: all .2s ease

  svg
    margin-right: .5rem


  &:hover
    box-shadow: 3px 3px 0 0 black

.project__modal__btn--submit
  background: #faf097

  &.loading

    box-shadow: 3px 3px 0 0 black

    svg 
      animation: spin 1s linear infinite

.project__modal__btn--cancel
  +size(phone)
    display: none
