.edit-profile__nav
  margin-top: 4rem
  margin-bottom: 4rem
  
  +size(phone)
    margin: 0
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 3
    border-top: 3px solid black

.edit-profile__nav__links
  display: flex
  justify-content: space-between

  +size(phone)
    justify-content: initial

.edit-profile__nav__item
  +size(phone)
    flex-basis: 25%
    border-right: 2px solid black

    &:last-child
      border-right: 0

.edit-profile__nav__btn
  outline: none
  border: 0
  background: #f2f2f2
  font-weight: bold
  font-size: 1.1rem
  cursor: pointer
  padding: .75rem 1.5rem
  border-radius: .25rem
  transition: all .2s ease
  border: 2px solid transparent

  +size(phone)
    width: 100%
    border-radius: 0
    height: 50px
    font-size: 13px
    padding: 0

  
  &.profile-btn.active
    background: #d2c7ff
    border-color: black
    box-shadow: 3px 3px 0 0 black
  
    +size(phone)
      box-shadow: none
      border: 0
  
  &.social.active
    background: #f6a4d7
    border-color: black
    box-shadow: 3px 3px 0 0 black
  
    +size(phone)
      box-shadow: none
      border: 0
  
  &.contact.active
    background: #a4daf6
    border-color: black
    box-shadow: 3px 3px 0 0 black
  
    +size(phone)
      box-shadow: none
      border: 0
  
  &.projects.active
    background: #f6f0a4
    border-color: black
    box-shadow: 3px 3px 0 0 black
  
    +size(phone)
      box-shadow: none
      border: 0
  
  &:hover,
  &.active
    border: 2px solid black
  
    +size(phone)
      border: none
