.projects__list
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  +size(phone)
    flex-direction: column
    flex-wrap: unset


.projects__list__item      
  margin-bottom: 2rem
  background: #fafafa
  padding: 1rem
  border: 2px solid black
  border-radius: .25rem
  transition: all .2s ease
  flex-basis: 100%
  position: relative

  &:hover
    background: #f2f2f2

    button.project__item__edit-btn
      opacity: 100%

  +size(phone)
    
    &:last-child
      margin-bottom: 0

  +size(ipad)
    width: 49%

.project__item__name
  margin-bottom: .75rem
  font-size: 1.25rem

.project__item__description
  margin-bottom: 1rem

.project__item__buttons
  position: absolute
  top: 1rem
  right: 1rem
  


.project__item__edit-btn
  cursor: pointer
  background: white
  outline: none
  border: 2px solid black
  border-radius: .25rem
  width: 30px
  height: 30px
  transition: all .2s ease
  margin-right: .5rem

  &:last-child
    margin-right: 0

  &:hover
    background: black
    color: white

  +size(phone)
    opacity: 100%

  +size(ipad)
    opacity: 100%

.project__item__metadata
  display: flex  

.project__metadata__pill
  background: white
  color: black
  margin-right: 1rem
  padding: .35rem .75rem
  border: 2px solid black
  border-radius: .25rem
  display: flex
  align-items: center
  font-weight: bold
  font-size: 14px

  svg
    margin-right: .5rem

  a
    color: black

  +size(phone)
    font-size: 12px
    padding: .25rem .55rem

  +size(ipad)
    font-size: 13px
    padding: .25rem .55rem


.project__item__delete
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: white
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  z-index: 99
  animation: fade-in .15s ease-out

.project__item__delete__text 
  margin-bottom: 1rem

  h3
    margin-bottom: .75rem
 
  p
    font-size: 14px


.delete-project__btn
  font-weight: bold
  outline: 0
  padding: .5rem 1rem
  cursor: pointer
  margin-right: .5rem
  border: 2px solid black
  border-radius: 5px
  transition: all .2s ease-in-out
  background: #e6e6e6

  &.danger
    background: #c92929
    color: white

  &:hover
    box-shadow: 2px 2px 0 0 black

  &:last-child
    margin-right: 0
