@import './_nav.sass'
@import './_forms.sass'
@import './_modal.sass'
@import './_projects_list.sass'
@import './_avatar.sass'

#edit-profile
  padding-top: 4rem

  +size(phone)
    padding-top: 3rem
    padding-bottom: 12rem

  +size(desktop)
    padding-bottom: 6rem


.edit-profile__container
  max-width: 52em
  margin: 0 auto


.edit-profile__header
  margin-bottom: 2rem

  +size(phone)
    background: #fff9e3
    padding: 1.5rem
    border-radius: .25rem
    border: 2px solid
    margin-bottom: 3rem


.edit-profile__greeting
  font-size: 2rem
  margin-bottom: 1rem

  svg
    margin-left: .5rem
    transform: translateY(5px) rotate(5deg)

  +size(phone)
    font-size: 1.3rem

    svg
      display: none

.edit-profile__blurb
  font-size: 1.2rem  
  color: #939393
  line-height: 1.6

  +size(phone)
    font-weight: bold
    font-size: 1rem
    color: black
