.form__pill
  display: flex
  align-items: center
  padding: .25rem .55rem
  border-radius: 5px
  font-size: 13px
  animation: fade-in .2s ease

  &.error
    background: #e62929
    color: white
    border: 2px solid black


.form__pill svg
  margin-right: .3rem
