.ngnr__loading__spinner
  display: flex
  align-items: center
  justify-content: center
  height: 100%

.ngnr__loading__image
  max-width: 600px
  margin-bottom: 3rem

  img
    width: 100%
    border: 3px solid black

.ngnr__loading__text
  text-align: center
  background-color: #fff

.ngnr__loading__title
  font-size: 2.5rem
  margin-bottom: 1.5rem

  +size(phone)
    font-size: 1.75rem

.ngnr__loading__message
  font-size: 1.2rem

  +size(phone)
    font-size: 1rem
