.ngnr__nav
  padding: 0 8em
  position: relative

  +size(phone)
    padding: 0 1.5em
    border-bottom: 3px solid black

  +size(ipad)
    padding: 0 4rem
    border-bottom: 3px solid black


.ngnr__nav__container
  display: flex
  align-items: center
  justify-content: space-between
  height: 120px
  border-bottom: 2px solid black

  +size(phone)
    border: 0
    height: 80px

  +size(ipad)
    border: 0
    height: 100px

.ngnr__nav__middle
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  
  +size(phone)
    display: none

  +size(ipad)
    display: none

.ngnr__nav__profile-link
  font-weight: bold
  font-size: 1.3rem
  text-decoration: none
  display: flex
  align-items: center
  position: relative
  color: black

  span
    position: relative

    &:after
      content: ""
      display: block
      position: absolute
      bottom: -4px
      left: 0
      width: 100%
      height: 2px
      background-color: black
      border-radius: 4px
      transition: all .2s ease

  svg
    margin-left: .75rem
    transition: all .3s ease

  &:hover 
    
    span:after
      bottom: -8px

    svg
      transform: scale(1.15)


.ngnr__nav__logo
  width: 170px

  +size(phone)
    width: 120px


.ngnr__nav__hamburger
  z-index: 1
  cursor: pointer
  outline: 0
  border: 0
  width: 35px
  height: 35px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  background: #f2f2f2
  border: 2px solid transparent
  transition: all .2s ease

  &:hover,
  &.show-menu
    box-shadow: 1px 3px 0 0 black
    border-color: black


.ngnr__menu__overlay
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: transparent
  height: 100%
  z-index: 1


.ngnr__nav__menu
  position: absolute
  right: calc(8rem + 17px)
  top:  100px
  width: 180px
  border: 2px solid black
  border-radius: .25rem
  box-shadow: 3px 3px 0 0 black

  +size(phone)
    right: calc(1.5rem + 17px)
    top: 70px

  +size(ipad)
    right: calc(4rem + 17px)
    top: 85px

.menu__item
  background: white
  width: 100%
  border-bottom: 2px solid black
  transition: all .2s ease

  &:hover > .menu__item__link
    background: #f2f2f2

  &:last-child
    margin-bottom: 0
    border-bottom: 0

.menu__item__link
  cursor: pointer
  width: 100%
  background: transparent
  color: black
  outline: 0
  border: 0
  padding: .75rem 2rem
  font-size: 1.1rem
  font-weight: bold
  display: flex
  align-items: center
  justify-content: space-around
  cursor: pointer
  text-decoration: none

  svg
    transition: all .2s linear

  &:hover
    text-decoration: underline

    svg
      transform: scale(1.1)

  &:visited
    color: black

