.ngnr__notification
  background-color: #0eaa82
  border: 2px solid black
  padding: .5rem
  margin-top: 2rem
  display: flex
  align-items: center
  font-weight: bold
  color: white
  justify-content: center
  box-shadow: 3px 3px 0px 0px black
  animation: fade-in 1s ease 0s 1 normal none

  &.error
    background-color: #c61827

  &.mini
    position: fixed
    bottom: 2rem
    right: 2rem
    max-width: 300px
    padding: .75rem 1rem
    z-index: 9999
    animation: fade-in .2s ease

    +size(phone)
      width: 100%
      max-width: 100%
      position: fixed
      top: 0
      left: 0
      height: 50px
      margin-top: 0
      z-index: 1
      border: 0
      box-shadow: none
      border-bottom: 2px solid black
      animation-name: slideInDown

.ngnr__notification__icon
  margin-right: .5rem

.ngnr__notification__text

  line-height: 1.5
