.toggle-switch
  width: 42px
  height: 25px
  background-color: darkgray
  border-radius: 9999px
  position: relative
  cursor: pointer
  border: 3px solid black
  outline: 0


.toggle-switch[data-state='checked']
  background-color:  #3dd279


.toggle-switch__thumb
  display: block
  outline: 0
  width: 19px
  height: 19px
  background-color: white
  border-radius: 9999px
  transition: transform .15s ease-in-out
  transform: translateX(1px)
  will-change: transform

.toggle-switch__thumb[data-state='checked']
  transform: translateX(16px)

