@import './_notif.sass'
@import './_nav.sass'
@import './_loading.sass'
@import './_formpill.sass'
@import './_toggle.sass'

.ngnr__protected
  margin-top: -5rem
  margin-bottom: -5rem
  height: 100vh
  display: flex
  flex-direction: column

  +size(phone)
    margin-top: -6rem


.ngnr__protected__container
  flex: 1
  padding: 0 8rem

  +size(phone)
    padding: 0 2rem

  +size(ipad)
    padding: 0 4rem
