.protected__form__container
  display: flex
  justify-content: space-between
  margin-top: 4rem
  min-height: 365px

  +size(phone)
    flex-direction: column


.protected__form
  flex-basis: 70%
  display: none

  &.visible
    display: block


.protected__form__header
  margin-bottom: 3rem

  +size(phone)
    margin-bottom: 2rem

.protected__form__title
  font-size: 1.6rem
  margin-bottom: 1rem

  +size(phone)
    font-size: 1.4rem
    margin-bottom: .75rem

.protected__form__subtitle
  
  +size(phone)
    font-size: 14px
    line-height: 1.6

.protected__form__notice

  text-align: center
  padding: 4em 3rem
  border: 2px solid black
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background: #f6f6f6
  border-radius: .25rem

  &.form-notice-small
    padding: 2rem 3rem

    p
      font-size: 1rem
      margin-bottom: 1

  &.data-request-notice
    margin-bottom: 3rem

.protected__form__notice__title
  font-size: 2rem
  margin-bottom: 2rem 

  +size(phone)
    font-size: 1.4rem
    line-height: 1.6
    margin-bottom: 1rem

.protected__form__notice p
  font-size: 1.2rem
  margin-bottom: 2rem
  line-height: 1.6

  &:last-child
    margin-bottom: 0

.protected__form__notice__button
  border: 2px solid black
  outline: 0
  font-weight: bold
  background: white
  color: black
  padding: .75rem 1rem
  border-radius: .25rem
  font-size: 1.1rem
  display: inline-flex
  align-items: center
  justify-content: center
  cursor: pointer
  box-shadow: 3px 3px 0px 0px black
  transition: all .2s ease

  svg
    margin-right: .5rem
    transform: translateY(-1px)

  &:hover
    box-shadow: none

.protected__form__submit
  border: 2px solid black
  padding: 1rem
  font-weight: bold
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.1rem
  border-radius: .25rem
  background: #f6a4d7
  cursor: pointer
  transition: all .25s ease
  outline: none
  margin-top: 1rem

  &:hover
    box-shadow: 3px 3px 0 0 black

  svg
    margin-right: .5rem
    transform: translateY(-1px)

  &.loading

    box-shadow: 3px 3px 0 0 black

    svg 
      animation: spin 1s linear infinite

  +size(phone)
    width: 100%
    margin-top: 2rem


.protected__form__subsection
  margin-bottom: 4rem



.protected__form__group
  display: flex
  align-items: center
  justify-content: space-between
  outline: 0
  border: 0
  margin-bottom: 2rem


  > .form__field
    flex-basis: 48%
    margin-bottom: 0
    position: relative

    &.third
      flex-basis: 31%


  +size(phone)
    flex-direction: column

    > .form__field
      margin-bottom: 2rem
      flex-basis: 100%
      width: 100%

      &:last-child
        margin-bottom: 0

.protected__form__group--options
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  border: 2px solid black
  border-radius: 5px
  padding: 1.5rem
  background: #f6f6f6

  +size(phone)
    padding: 1rem

  > .form__field
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 2rem

    &:last-child
      margin-bottom: 0

    +size(phone)
      h4 span
          display: none

.options__input
  cursor: pointer

.protected__form__group > .third 
  position: relative
  font-weight: bold

  .form__pill
    position: absolute
    bottom: -35px

  

.protected__form__file-upload
  height: 250px
  border: 3px dashed black
  border-radius: 5px
  display: flex
  align-items: center
  justify-content: center
  background: #f8f8f8

  &.disabled
    color: gray
    cursor: not-allowed


.file-upload__icon
  display: block
  margin: 0 auto 2rem


.file-upload__text
  text-align: center
  margin-bottom: 1.5rem

  &.mini
    font-size: 14px
    font-weight: bold

  &:last-child
    margin-bottom: 0


.file-upload__link
  cursor: pointer
  position: relative

  &.disabled
    cursor: not-allowed

    &:hover::after
      bottom: -3px

  &:after
    content: ""
    position: absolute
    bottom: -3px
    left: 0
    width: 100%
    height: 2px
    background: black
    transition: all .2s ease-in-out

  &:hover::after
    bottom: -2px


.cv-preview
  border: 2px solid black
  border-radius: 5px
  padding: .75rem 1rem
  margin-top: 2rem
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: bold
  background: #f5f5f5
  display: flex
  animation: fade-in .3s ease-in-out 

  svg.uploading-cv
    animation: spin 1s linear infinite

.cv-preview__buttons
  display: flex

.cv-preview__btn
  margin-right: 1rem
  cursor: pointer
  outline: 0
  background: white
  border: 2px solid white
  border-radius: 5px
  width: 30px
  height: 30px
  display: flex
  border: 2px solid black
  align-items: center
  justify-content: center

  +size(phone)

    &:first-child
      margin-right: 0
    
    &:not(:first-child)
      display: none

  svg
    transform:  perspective(1000px) translateZ(0px)
    transition: all .2s ease-in-out
    color: black

  &.uploading svg
    animation: spin 1s linear infinite

  &:hover svg
    transform:  perspective(1000px) translateZ(120px)
    

  &:last-child
    margin-right: 0
