.protected__header
  margin-bottom: 2rem

  +size(phone)
    background: #fff9e3
    padding: 1.5rem
    border-radius: .25rem
    border: 2px solid
    margin-bottom: 3rem

.protected__header__greeting
  font-size: 2rem
  margin-bottom: 1rem

  +size(phone)
    font-size: 1.3rem

    svg
      display: none


.protected__header__greeting svg
  margin-left: .5rem
  transform: translateY(5px) rotate(5deg)

.protected__header__blurb
  font-size: 1.2rem
  color: #939393
  line-height: 1.6

  +size(phone)
    font-weight: bold
    font-size: 1rem
    color: black


