.protected__modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background: white
  z-index: 3
  padding: 4em 0
  animation: fade-in .15s ease-out

  +size(phone)
    padding: 2em
    overflow-y: scroll

.protected__modal__container
  max-width: 35em
  margin: 0 auto


.protected__modal__header
  margin-bottom: 2rem

  +size(phone)
    margin-top: 3rem

.protected__modal__title
  font-size: 3rem

  +size(phone)
    font-size: 1.7rem

.protected__modal__image 
  
  margin-bottom: 2rem

  img
    width: 100%
    border: 3px solid black

.protected__modal__blurb p
  line-height: 1.5
  margin-bottom: 1.5rem

  &:last-child
    margin-bottom: 0


.protected__modal__buttons

  margin-top: 2rem
  display: flex
  align-items: center
  justify-content: space-between

  button
    border: 0
    outline: none
    flex-basis: 47%
    padding: 1.25rem
    border: 2px solid black
    border-radius: .25rem
    font-weight: bold
    font-size: 1.1rem
    display: flex
    cursor: pointer
    align-items: center
    justify-content: center
    background: white
    transition: all .2s ease

    svg
      margin-right: .5rem

    &:hover
      box-shadow: 3px 3px 0 0 black

    &.loading

      box-shadow: 3px 3px 0 0 black

      svg 
        animation: spin 1s linear infinite

    &.cancel
      background: #f6a4d7

  +size(phone)
    display: block

    button
      margin-bottom: 1rem
      width: 100%

      &:last-child
        margin-bottom: 0 
