// NOTE: nav styles
.protected__nav
  flex-basis: 23%
  border-right: 3px solid black

  +size(phone)
    border-right: 0
    flex-basis: 100%
    margin-bottom: 3rem
    margin-top: -1rem

.protected__nav__links
  
  position: relative

  +size(phone)
    border: 2px solid #e0e0e0 
    border-radius: 5px

    &.open > li
      display: flex
      border-bottom: 1px solid #e0e0e0

      &:last-child
        border-bottom: 0


.protected__nav__arrow
  display: none
    
  +size(phone)
    display: block
    position: absolute
    right: .75rem
    top: 20px
    transform: translateY(-50%)
    transition: all .2s ease-in-out

    &.nav-open
      transform: translateY(-50%) rotate(180deg)


.protected__nav__item
  position: relative
  outline: 0
  font-weight: bold
  margin-bottom: 2rem
  font-size: 1.2rem
  color: #b6b6b8
  cursor: pointer
  transition: all .2s ease-in-out

  &:hover
    color: black

  &.active
    color: black

  &.danger
    color: red

  +size(phone)
    font-size: 1rem
    display: none
    padding: .85rem
    margin-bottom: 0

    &.active
      display: flex
      align-items: center
      justify-content: space-between

    svg
      display: block


.protected__nav__item__name
  position: relative


.protected__nav__pill
  color: black
  // left: 85px
  font-size: 14px
  padding: .1rem .35rem
  border-radius: 5px
  border: 2px solid black
  transform: translateY(-3px)
  display: inline-block
  margin-left: 10px

  &.soon-pill
    background: #d2c7ff

  &.new-pill
    background: #aff4af

  +size(phone)
    display: none


