// fonts
@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap')


@import './layout/_mixins.sass'
@import './common/index.sass'
@import './hoc/index.sass'
@import './not-found/index.sass'
@import './auth/index.sass'
@import './edit-profile/index.sass'
@import './legal/index.sass'
@import './faq/index.sass'
@import './changelog/index.sass'
@import './protected/index.sass'

*
  margin: 0
  padding: 0
  font-family: 'Lekton', monospace
  box-sizing: border-box


ul
  list-style: none


.app
  padding: 5em 0

  +size(phone)
    padding-top: 6em
