$bg: paleturquoise

.profile__contact
  background-color: $bg

.contact__title
  background-color: darken($bg, 40%)

.contact__link__item
  background: white
  margin-bottom: 2rem
  border: 2px solid black
  border-radius: .25rem
  display: flex
  align-items: center

  &:last-child
    margin-bottom: 0

.contact__link__icon
  display: inline-block
  margin-right: 1rem
  flex-basis: 10%
  color: white
  border-right: 2px solid black
  background-color: darken($bg, 40%)
  padding: .5rem 1rem

.contact__link__href
  font-size: 1.2rem
  color: black
  font-weight: bold
