.profile__not-found__text
  margin-bottom: 3rem

.profile__not-found__title
  font-size: 3rem
  text-align: center
  margin-bottom: 2rem


.profile__not-found__copy
  font-size: 1.2rem
  line-height: 1.6
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0


.profile__not-found__gif

  img
    width: 100%
    border: 3px solid black
  
