.profile__footer
  padding-top: 4rem

  +size(phone)
    border-top: 2px solid black
    padding-top: 2rem
    margin-bottom: -3rem

.footer__container
  max-width: 17em
  margin: 0 auto

  +size(phone)
    max-width: 11em
