$bg: #fffbeb
.profile__info
  font-weight: bold
  background-color: $bg
  padding: 2em 
  position: relative

  +size(phone)
    padding-top: 4rem

.profile__available-badge
  background: #50db9d
  display: inline-block
  position: absolute
  top: 0
  right: 0
  font-size: 14px
  padding: .5rem
  border: 2px solid black
  border-top: 0
  border-right: 0
  border-bottom-left-radius: .25rem

  +size(phone)
    top: 0
    left: 0
    width: 100%
    border-radius: 0
    border-left: 0

  

.profile__avatar
  display: flex
  align-items: center
  justify-content: center
  width: 170px
  height: 170px
  border-radius: 100%
  border: 2px solid black
  margin: 0 auto 2rem
  background-size: cover
  background-position: 50% 50%

.profile__info__details
  text-align: center


.profile__display-name
  font-size: 2.25rem
  margin-bottom: 1.25rem
  position: relative
  display: inline-block

  svg
    position: absolute
    right: -50px
    top: 50%
    transform: translateY(-50%)

  +size(phone)
    font-size: 1.75rem
    margin-bottom: 1rem

    svg
      width: 30px
      height: 30px
      right: -35px


.profile__username
  display: block  
  margin-bottom: .75rem
  font-weight: bold
  font-size: 1.2rem
  color: #949494

  +size(phone)
    font-size: 1.1rem


.profile__misc
  font-size: 1rem
  margin-bottom: 2rem
  font-weight: bold
  display: flex
  align-items: center
  justify-content: center


.profile__misc__item
  display: inline-flex
  align-items: center
  margin-right: 2rem

  &:last-child
    margin-right: 0

  span
    margin-left: .5rem
    margin-top: .1rem

  +size(phone)
    font-size: 14px

.profile__bio
  max-width: 85%
  margin: 0 auto 
  line-height: 1.6

  +size(phone)
    max-width: 100%


.profile__bio p 
  font-size: 1.1rem

  +size(phone)
    font-size: 1rem
  

.profile__info__download
  position: fixed
  bottom: 2rem
  right: 2rem
  outline: 0
  font-weight: bold
  font-size: 1.3rem
  cursor: pointer
  padding: .75rem 1rem
  border: 2px solid black
  border-radius: 5px
  box-shadow: 3px 3px 0 0 black
  display: flex
  align-items: center
  transition: all .25s ease-in-out

  svg
    margin-right: .35rem
    transform: translateY(-1px)

  &:hover
    color: white
    box-shadow: 0 0 0 0 black
    background: black

  +size(phone)
    display: none

.profile__work__info
  margin-top: 2rem
  display: flex
  align-items: center

  +size(phone)
    justify-content: center
    flex-wrap: wrap

.profile__work__item
  display: inline-flex
  align-items: center
  margin-right: 1.7rem

  &:last-child
    margin-right: 0

  +size(phone)
    margin-right: 0
    flex-basis: 40%
    margin-bottom: 1rem

  svg
    transform: translateY(-1px)
    margin-right: .25rem
