.profile__projects
  padding: 2em
  border-top: 3px solid black
  background-color: #ffcae0

.projects__title
  background-color: #f43c97

.project__item
  background: white
  margin-bottom: 2rem
  padding: 1em
  border: 2px solid black
  border-radius: 5px
  width: 100%

  &:last-child
    margin-bottom: 0

.project__name
  font-size: 1.2rem
  margin-bottom: .5rem
  text-decoration: underline

  a
    color: black

.project__about
  font-size: 1.1rem
  line-height: 1.3
