.profile__social
  background-color: #e4dbff


.social__title
  background-color: #623ad9


.social__link

  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0
    

.social__link a
  font-size: 1.2rem
  font-weight: bold
  background-color: #fff
  border: 2px solid black
  border-radius: .25rem
  text-decoration: none
  color: black
  display: flex
  align-items: center
  width: 100%

  i
    display: flex
    align-items: center
    justify-content: center
    border-right: 2px solid black
    flex-basis: 10%
    padding: .5em 1rem

    &.icon-twitter
      background: #1DA1F2

    &.icon-yt
      background: #FF0000

    &.icon-gitlab
      background: #7759C2

    &.icon-gh
      background: #000

    &.icon-cp
      background: #131417

    &.icon-hn
      background: #ff6600

    &.icon-lobsters
      background: #500000

    &.icon-twitch
      background:  #9146FF
      svg
        width: 24px
        height: 24px

        path
          fill: white

          
  span
    padding: 0 1em
