@import './_doesnotexist.sass'
@import '../layout'
@import './_info.sass'
@import './_projects.sass'
@import './_writing.sass'
@import './_social.sass'
@import './_contact.sass'
@import './_footer.sass'


.profile
  +size(phone)
    margin-top: -6rem

.profile__container
  max-width: 35em
  margin: 0 auto
  border: 3px solid black
  border-radius: .25rem

  &.not-found
    max-width: 27em
    border: 0

  +size(phone)
    border: 0

.profile__section
  padding: 2em
  border-top: 2px solid black

.profile__header
  margin-bottom: 2rem

.profile__header h2
  padding: .25rem .5rem
  display: inline-block
  border: 2px solid black
  color: white
  box-shadow: 3px 3px 0px 0px black

